/* styles.css */
body {
    background-color: rgb(0, 0, 0);
    color: red;
}

.playbutton {
    background-color: red;
    color: rgb(0, 0, 0);
    padding: 15px 25px;
    font-size: 36px;
    font-family: "Times New Roman", serif;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 560px;
    margin-bottom: 25px;
}

.playbutton:hover {
    background-color: #850e0e;
}

.halfbutton {
    background-color: red;
    color: rgb(0, 0, 0);
    padding: 15px 25px;
    font-size: 36px;
    font-family: "Times New Roman", serif;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 268px;
    margin-left: 10px;
    margin-right: 10px;
}

.halfbutton:hover {
    background-color: #850e0e;
}

.centerdiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe {
    border: none;
}

#leaderboardiframe {
    border: none;
}