body {
    background-image: url('Scene1.png');
    background-size: cover;
    overflow: hidden; /* Prevent scrollbars */
}

@media (min-height: 900px) {
	#follow-mouse {
		position: absolute;
		width: 5000px;
		height: 3000px;
		transform: translate(-50%, -50%) scale(0.98);
		pointer-events: none;
		z-index: 998;
    }
	
	#fast-mouse {
		position: absolute;
		width: 5000px;
		height: 3000px;
		transform: translate(-50%, -50%) scale(0.99);
		pointer-events: none;
		z-index: 998;
		transition: opacity 0.3s ease;
    }
}

	#whacker,
	#whacked {
		width: 200px;
		height: 200px;
		pointer-events: none;
		transform: translate(-7%, -67%);
		user-select: none;
}

@media (max-height: 899px) {
	#follow-mouse {
		position: absolute;
		width: 5000px;
		height: 3000px;
		transform: translate(-50%, -50%) scale(0.8);
		pointer-events: none;
		z-index: 998;
	}
	
	#fast-mouse {
		position: absolute;
		width: 5000px;
		height: 3000px;
		transform: translate(-50%, -50%) scale(0.85);
		pointer-events: none;
		z-index: 998;
		transition: opacity 0.3s ease;
	}
	
	#whacker,
	#whacked {
		width: 155px;
		height: 155px;
		pointer-events: none;
		transform: translate(-7%, -67%);
		user-select: none;
	}
}

#cameras {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    z-index: 1000;
    user-select: none;
}

button {
    padding: 10px;
    background-color: red;
    color: white;
    border: none;
    font-family: "Times New Roman", serif;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 20px;
	transition: background-color 0.3s ease;
    z-index: 1000;
    user-select: none;
}

button:hover {
    background-color: #850e0e;
}

button:disabled {
    background-color: #850e0e;
    cursor: not-allowed;
}

.james-instance {
    position: absolute;
    width: 200px;
    height: 200px;
}

.james-image {
    position: absolute;
    width: 200px;
    height: 200px;
    cursor: pointer;
    user-select: none;
}

#score-counter {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    color: red;
	z-index: 1000;
    user-select: none;
}